torch
torchvision
gym[atari]
pysc2
numpy
visdom
tensorflow
tensorboardX
openpyxl
baselines
pandas
pyyaml
coverage
imutil
tqdm
scaii>=0.2.0
git+https://github.com/greydanus/excitationbp.git#egg=excitationbp
git+https://github.com/osu-xai/sc2env
git+https://github.com/osu-xai/pytorch-saliency
