torch==0.3.1
gym[atari]
pysc2
numpy
visdom
tensorflow
tensorboardX
openpyxl
baselines
git+http://github.com/greydanus/excitationbp.git#egg=excitationbp
git+http://github.com/reypocius/pysc2-rl-framework.git#egg=pysc2-rl-framework